* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: TavolgaFree;
    src: url('../fonts/Tavolgafree.ttf');
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/Gilroy-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy-medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Gilro;
    src: url('../fonts/gilroy-bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy-regular.ttf');
    font-weight: 400;
}

body {
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    position: relative;
}

.header {
    background-color: rgb(235, 168, 177);
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.header .container {
    padding-top: 33px;
    padding-bottom: 33px;
    display: flex;
    align-items: center;
}
.burger{
    display: none;
}
.close{
    display: none;
}
.menu {
    margin-left: 20.18%;
  
}
.header .phone{
    margin-left: 27.86%;
    min-width: 149px;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 315px;
    box-sizing: border-box;
}

.menu-item {
    border-bottom: 2px solid transparent;
    padding: 3px 1px;
}

.menu-item:hover {
    border-bottom: 2px solid rgb(130, 19, 40);
}

.menu-item-link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #770b1d;
    font-weight: 500;
    font-family: Gilroy, sans-serif;
}

.phone {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Gilroy, sans-serif;
}

.button {
    color: rgb(255, 255, 255);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
    box-sizing: border-box;
    border-radius: 30px;
}
.button:hover{
    box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.title {
    background-color: rgb(235, 168, 177);
    overflow: hidden;
}

.title .container {
    padding-top: 120px;
    padding-bottom: 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title-info-title {
    position: relative;
    font-size: 55px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.091;
    margin-bottom: 60px;
    z-index: 20;
}

.title-info-text {
    max-width: 344px;
    margin-bottom: 85px;
    font-size: 18px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.389;
}

.title-info-button {
    font-size: 18px;
    width: 240px;
    height: 60px;
}
.title-info-image-img{
    position: relative;
    z-index: 99;
}
.title-image{
    position: relative;
    z-index: 10;
}
.title-image-circle-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 145%;
    height: 166%;


}
.title-image-circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 2px solid #821328 ;
    animation: expand 3s linear infinite;



}

.circle2 {
    position: absolute;
    z-index: 2;
    animation-timing-function: cubic-bezier(.41,.09,.72,.71);
}

@keyframes expand {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
.advantages {
    background-color: #ffefef;
}

.advantages .container {
    display: grid;
    grid-template-columns:  minmax(302px, 1fr)  minmax(302px, 1fr);
    grid-template-rows: 400px 302px;
    padding-top: 119px;
    padding-bottom: 120px;
}

.advantages-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: end;
    justify-content: flex-start;
}

.advantages-title h2 {
    font-size: 45px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    margin-bottom: 60px;
}

.advantages-title-text {
    font-size: 18px;
    color: rgb(51, 25, 7);
    line-height: 1.556;
    max-width: 400px;
}

.advantages-image {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: end;
    justify-self: right;
}

.advantages-info {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.advantage-icon{
    font-size: 60px;
    color: rgb(255, 255, 255);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    background-color: #821328;
    font-weight: 800;
    border-radius: 50%;
    padding-top: 17px;
    text-align: center;
    margin-bottom: 13px;
}

.advantage {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.advantage:hover .advantage-icon {
    background-color: #eba8be;
    color: #821328;
}
.advantage-title{
    font-size: 20px;
    color: #331907;
    font-weight: 800;
}
.advantage-text {
    box-sizing: border-box;
    width: 220px;
    height: 102px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(51, 25, 7);
    line-height: 1.333;
    margin-top: 20px;
}

.select {
    background-color: rgb(235, 168, 177);
}

.select .container {
    padding-top: 120px;
    padding-bottom: 120px;
}


.select-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 290px;
    gap: 29px;
}

.select-info-item-button {
    font-size: 16px;
    height: 50px;
    border-right: 25px;
    width: 130px;

}

.select-title {
    font-size: 45px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 81px;
}

.select-info-item {
    padding-bottom: 27px;
    padding-left: 20px;
    padding-right: 20px;
    align-self: end;
    width: 263px;
    height: 229px;
    box-sizing: border-box;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.select-info-item-img{
    transition: all 0.8s ease;
}
.select-info-item:hover .select-info-item-img{
    transform: scale(1.1);
}
.select-info-item-container {
    display: flex;
    flex-direction: row;
    width: 221px;
    align-items: center;
    justify-content: space-between;
    margin-top: 26px;
    align-self: end;
    box-sizing: border-box;
}

.select-info-item-title {
    font-size: 18px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;

}

.select-info-item-text {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.select-info-item-image {
    text-align: center;
    position: absolute;
    bottom: 162px;

}

.select-info-item-result {
    margin-bottom: 15px;
}

.order {
    background-color: #ffefef;
}

.order .container {
    display: flex;
    align-items: flex-end;
    padding-top: 98px;
    padding-bottom: 120px;
    position: relative;

}
.order-image-motion{
    position: absolute;
    top: 147px;
    left: -12px;
    animation: moveUpDown 2s linear infinite;
}
.small-berry{
    left: 355px;
    top: 430px;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0); /* Начальная позиция */
    }
    50% {
        transform: translateY(20px); /* Позиция внизу */
    }
    100% {
        transform: translateY(0); /* Возврат в начальную позицию */
    }
}

.order-image {
    margin-left: 16px;
    margin-right: 163px;
    position: relative;
}

.order-info {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    position: relative;
}

.order-info-title {
    font-size: 45px;
    font-family: TavolgaFree, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.222;
    margin-bottom: 42px;
}

.order-info-text {
    color: rgb(51, 25, 7);
    line-height: 1.556;
    margin-bottom: 48px;
    max-width: 403px;
}

.order-info-small-title {
    font-size: 18px;
    font-family: Gilroy, TavolgaFree, sans-serif;
    color: rgb(18, 10, 6);
    font-weight: 700;
    margin-bottom: 5px;
}

.order-info-small-title.small-title2 {
    margin-bottom: 7px;
    margin-top: 40px;
}

.order-info-input {
    margin-top: 15px;
    padding: 22px 15px 24px 26px;
    font-size: 15px;
    font-family: Gilroy, sans-serif;
    color: rgb(18, 10, 6);
    font-weight: 700;
    border-width: 1px;
    border-color: rgb(130, 19, 40);
    border-style: solid;
    border-radius: 30px;
    width: 294px;
    height: 60px;
    box-sizing: border-box;
    outline: none;
    background-color: #ffefef;

}

.order-info-input::placeholder {
    color: rgb(118, 12, 34);
}

.order-info-button {
    width: 294px;
    height: 60px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 18px;
}

.footer {
    background-color: #c0707c;
}

.footer .container {
    padding-top: 73px;
    padding-bottom: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-instagram {
    text-align: center;
    text-decoration: none;
}

.footer-instagram-text {
    font-size: 16px;
    font-family: Gilroy, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 15px;
}

.rights {
    font-size: 12px;
    color: #dfa5ad;
    margin-top: 19px;

}
.present{
    position: absolute;
    z-index: 199;
}
.present-container {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 299;
    background: radial-gradient(circle, rgba(116, 11, 33, 0.98) 0%, rgba(180, 56, 76, 0.98) 100%);
}

.present-container:hover {
    box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}


.present-link {
    text-decoration: none;
}

.order-present {
    right: 129px;
    bottom: 40px;

    position: fixed;
    
}



.order-present-img{
    position: relative;
}
.order-present-text {
    font-size: 15px;
    font-family: Gilroy, sans-serif;
    color: rgb(119, 10, 29);
    line-height: 1.333;
    text-align: left;
    font-weight: 500;
    position: absolute;
    width: 152px;
    left: 11px;
    top: 12px;
    box-sizing: border-box;
    z-index: 199;
}
@keyframes moveUp{
    0% {
        opacity: 0;
        transform: translateY(40px); /* Начальная позиция */
    }
    50% {
        opacity: 0.3;
    }
 
    100% {
        opacity: 1;
        transform: translateY(0); /* Возврат в начальную позицию */
    }
}
@keyframes moveDown {
    0% {
        opacity: 1;
        transform: translateY(0); /* Начальная позиция */
    }
    100% {
        opacity: 0;
        transform: translateY(40px); /* Конечная позиция */
    }
}
.present-container:hover .order-present {
    display: flex;
    animation: moveUp 0.7s ease forwards;
}
.present-container:not(:hover) .order-present {
    animation: moveDown 0.7s ease forwards;
}